{#
  Generates C++ declaration
  @grammar:
  declaration :
                (isRecordable='recordable')? (isFunction='function')?
                variable (',' variable)*
                datatype
                ('[' sizeParameter=NAME ']')?
                ( '=' rhs = expression)?
                ('[[' invariant=expression ']]')?;
  @param ast ASTDeclaration
#}
{%- for variable in declarations.get_variables(ast) -%}
{%- if ast.hasSizeParameter() %}
{{declarations.print_variable_type(variable)}} {{variable.getSymbolName()}}(P_.{{declarations.print_size_parameter(ast)}});
    {%- if ast.hasExpression() %}
for (long i=0; i < get_{{declarations.print_size_parameter(ast)}}(); i++) {
  {{variable.getSymbolName()}}[i] = {{printer.print_expression(ast.getExpr())}};
}
    {%- endif -%}
  {%- else -%}
    {%- if ast.hasExpression() %}
{{declarations.print_variable_type(variable)}} {{variable.getSymbolName()}} = {{printer.print_expression(ast.getExpression())}};
    {%- else %}
{{declarations.print_variable_type(variable)}} {{variable.getSymbolName()}};
    {%- endif %}
  {%- endif %}
{%- endfor -%}
