{#
  Generates C++ declaration for a variable

  @param variable VariableSymbol
  @result C++ declaration
#}
{% if variable.hasComment() %}
{{variable.printComment("//! ")}}{% endif %}
{{declarations.print_variable_type(variable)}} {{names.name(variable)}};