{#
  @param variable VariableSymbol
#}
{% if not variable.isInternals() -%}
  def<{{declarations.print_variable_type(variable)}}>(__d, "{{variable.getSymbolName()}}", {{names.getter(variable)}}());
{%- endif -%}